asgiref==3.2.10
attrs==20.2.0
Django==3.1.1
django-configurations==2.2
django-debug-toolbar==3.1.1
djangorestframework==3.12.1
freezegun==1.0.0
importlib-metadata==2.0.0
iniconfig==1.1.1
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.6
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-django==4.0.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
zipp==3.3.1

colorama~=0.3.7
pip~=9.0.1
cryptography~=2.1.4
schema~=0.7.3
PyYAML~=3.12
Jinja2~=2.10
pexpect~=4.2.1
certifi~=2018.1.18
chardet~=3.0.4
urllib3~=1.22
idna~=2.6
simplejson~=3.13.2
setuptools~=45.2.0
requests~=2.18.4
contextlib2~=0.6.0.post1