{% extends "base_generic.html" %}


{% block content %}
<div class="container">
    <h1>Page de profile, Vous êtes connecté en temps que {{ user }}.</h1>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>User diet: {% for diet in diet_type %} {{ diet }} {% endfor %}</p>
    <p>User alergy:</p>
    <ul>
    {% for alergy_type in alergy %}
        <li>{{ alergy_type }}</li>
    {% endfor %}
    </ul>
    <p>Last login: {{ user.last_login }}</p>
    <p>Date joined: {{ user.date_joined }}</p>
</div>

{% endblock %}