{% extends "base_generic.html" %}
{% load static %}

{% block headband %}
<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-12">
                <div class="headband mt-5">
                  <img class="card-img-top mt-5 mb-0" src="{{ user.image_profile.url }}" alt=""/>
                    <div class="headtext">
                            {{ user.username }}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>Page de profile, Vous êtes connecté en tant que  {{ user }}.</h1>
        <div  id="right-style">
            <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
            <p><strong>Prénom :</strong> {{ user.first_name }}</p>
            <p><strong>Nom de famille :</strong> {{ user.last_name }}</p>
            <p><strong>Courriel (email) :</strong> {{ user.email }}</p>
            <p><strong>Regime alimentaire :</strong> {% for diet in diet_type %} {{ diet }} {% endfor %}</p>
            <p><strong>Alergies:</strong></p>
            <ul>
            {% for alergy_type in alergy %}
                <li>{{ alergy_type }}</li>
            {% endfor %}
            </ul>
            <p><strong>Last login:</strong> {{ user.last_login }}</p>
            <p><strong>Date joined:</strong> {{ user.date_joined }}</p>
        </div>
    </div>
{% endblock %}