{% extends "base_generic.html" %}

{% block content %}
<section class="page-section" id="container-content">
    <div class="container">
        <div class="row">
             <div class="col">
                <p><h3 class="text-center">{{ message }}</h3></p>
             </div>
        </div>
        <div class="row">
             <div class="col">
<p>
        La plateforme numérique (ci-après la « Plateforme ») depuis laquelle vous accédez aux présentes
        Conditions d’utilisation appartient à Pur Beurre Company et cette plateforme est éditée
        par OC Services France (ci-après dénommée « Pur Beurre », « nous/nous-mêmes », et « nos/notre »).
</p>
<p>
        Pur Beurre Services France est une société par actions simplifiée au capital de 5.000 euros,
        enregistrée au RCS de Nanterre sous le numéro 656 656 656 et dont le siège social se situe
        au 3 rue du festin 75001 Paris. La Directrice de la Publication est Madame Colette Tatou
        en sa qualité de présidente.
</p>
<p>
        <h3>Pour nous contacter:</h3>
        <h4>Pur Beurre Contact:</h4>
        3 rue du festin
        75001 Paris
        09 66 33 66 33 (Appel non surtaxé)
        Site internet : www.oc_pur_beurre.fr
</p>
<p>
     <h3>Auteur de la plateforme</h3>
La plateforme à été réalisée par M. Sébastien Jourdan pour Remy et Colette Tatou.
</p>
<p>
        <h3>Ce Site est hébergé par la société:</h3>
        <h4>Heroku a Salesforce compagny</h4>
        Salesforce
        415 Mission Street
        Suite 300
        San Francisco, CA
        94105
        <a class="link" href="https://www.heroku.com">https://www.heroku.com</a>
        <a class="link" href="https://www.salesforce.com">https://www.salesforce.com</a>
</p>
<p>
<h3>Accès à la Plateforme</h3>
Lorsque vous accédez à cette Plateforme, vous confirmez avoir lu et vous engagez à respecter
les présentes Conditions d’utilisation, les lois en vigueur ainsi que tous autres règlements
et dispositions énoncés sur la Plateforme. Toute utilisation de la Plateforme comprend
son accès via tout site internet, via Facebook ou via toute application mobile.
<br>
Cette Plateforme peut être accessible via une adresses internet dédiées,
à partir de mobiles, tablettes numériques ou applications sur d’autres terminaux de navigation sur internet.
</p>
<p>
<h3>Mineurs</h3>
La Plateforme est destinée à un public âgé d’au moins 13 ans, étant entendu qu’un accord parental
sera nécessaire pour les mineurs de moins de 15 ans. Pur Beurre se réserve le droit de demander
toute preuve de l’accord parental à tout moment. Certaines fonctionnalités de la Plateforme
pourront toutefois être soumises à des restrictions d’âge, en fonction des contenus autorisés
par la loi et appropriés selon les tranches d’âge. Les restrictions d’âge seront, le cas échéant,
clairement indiquées sur la Plateforme et il pourra vous être demandé de confirmer votre âge
avant de poursuivre la navigation.
</p>
<p>
<h3>Acceptation et modifications des Conditions</h3>
Votre utilisation de la Plateforme emporte votre acceptation des présentes Conditions d’utilisation.
Nous nous réservons le droit de modifier les présentes conditions d’utilisation de temps à autre.
Dans l’éventualité où de telles modifications seraient apportées, nous nous efforcerons de vous
en informer moyennant un préavis de 30 jours ou, en cas de délai plus court, le plus tôt possible.
Vous reconnaissez et convenez que tant que vous continuerez à utiliser la Plateforme vous serez réputé
avoir accepté de telles modifications.
</p>
<p>
<h3>Droits de propriété intellectuelle</h3>
Les images de personnes, de lieux, ou tout autre contenu figurant sur la Plateforme sont la propriété
de Pur Beurre, ou sont utilisés avec l’autorisation de leurs ayants-droit respectifs.
<br>
Vous devez considérer que tous les contenus auxquels vous accédez sur la Plateforme,
sont protégés par des droits de propriété intellectuelle. Vous êtes autorisé à consulter
et à utiliser ces contenus pour votre usage personnel, sans finalité commerciale,
dans le cadre de votre utilisation de la Plateforme.
Toute autre utilisation de ces contenus par vous ou par quiconque autorisé par vous, est interdite,
sauf indication contraire prévue aux présentes Conditions d’utilisation,
ou autorisation spécifique mentionnée sur cette Plateforme.
<br>
Toute utilisation non autorisée de ces contenus pourrait constituer une violation de droits
de propriété intellectuelle, en particulier de droits d’auteur, de droits sur des marques,
ou une utilisation non autorisée de donnée personnelle. Ainsi par exemple vous ne devez pas utiliser
de marques commerciales ou de signe distinctif sur la Plateforme sans obtenir au préalable notre
autorisation écrite, ou l’autorisation des ayants droit.
</p>
<p>
<h3>PARTAGE DE CONTENUS sur la Plateforme</h3>
Nous pourrons proposer sur la Plateforme des fonctionnalités permettant de partager vos contenus
avec nous ou avec d’autres utilisateurs. Ces contenus pourront notamment être des textes, des commentaires,
des liens, images ou des vidéos (les « Contenus »). À noter qu’en partageant des Contenus sur la Plateforme,
ceux-ci pourront devenir accessibles au public sur la Plateforme et pourront éventuellement être partagés
par les utilisateurs de la Plateforme.
</p>
<p>
<h3>Ressources libres utilisées pour cette plateforme web</h3>
<ul>
        <li>Template : https://blackrockdigital.github.io/startbootstrap-creative/</li>
        <li>Icones : https://thenounproject.com/term/carrot/29691/ et https://fontawesome.com/</li>
        <li>Photographie : https://unsplash.com/photos/</li>
</ul>
</p>
<p>
<h3>Droit applicable</h3>
Les présentes Conditions d’utilisation sont régies et interprétées conformément aux lois françaises.
Vous acceptez de vous soumettre à la compétence exclusive des tribunaux français.
</p>

</div>
        </div>
    </div>
</section>
{% endblock %}